body {
    background-color: #000000;
    background-image: url("Images/background-image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#main_container {
    background: rgba(16, 16, 16, 0.8);
    color: #ffffff;
    width: 480px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    font-family: sans-serif;
    border-radius: 20px;
    border: 3px solid #999;
}

#title {
    text-align: center;
    padding: 20px;
    font-size: 30px;
    font-weight: bolder;
}

#bill_subtotal_input {
    text-align: left;
    margin: 40px;
    margin-left: auto;
    margin-right: auto;
}

#bill_subtotal_input input {
    width: 340px;
}

#tip_radio_buttons {
    text-align: center;
    padding: 20px 0px 40px 0px;
}

#tip_radio_buttons label {
    margin-right: 10px;
}

#custom_input {
    width: 80px;
}

#split_input {
    margin-bottom: 40px;
}

#split_input input {
    width: 60px;
}

#output_container {
    text-align: center;
    color: #000000;
    margin: 40px 5px;
    padding: 20px;
    border-radius: 50px;
    border: 1px solid #000;
    font-weight: bolder;
    background: #EEE;
    font-size: 20px;
    line-height: 40px;
}